* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Header
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3a9b3;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: solid rgba(102, 90, 90, 0.151);
    border-width: 3px;
   
}
.navbar img {
    margin-top: 10px;
    margin-left: 15px;
    max-height: 40px; 
    max-width: 100%; 
    height: auto; 
    width: 250px; 
    
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.profilelogo {
    background-color: #2cbee2;
    padding: 20px;
    border-radius: 50%;
}





/*
Vertical Tabs
*/
.tab {
    list-style: none;
    
    
}

.tabs {                 
    margin-top: 1.43rem;
    font-size: 90%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    display:-webkit-inline-box;
    
}

.tabs:hover {
    background-color: #83afd3;
    color: #fff;
    transform: scale(1.1);
    
}


.tabss {
    margin-top: 1.43rem;
    font-size: 90%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: #9badbd;
    display:-webkit-inline-box;
    position: left;
    
}


.tabss:hover {
    background-color: #7298b8;
    color: #fff;
    transform: scale(1.1);
    
}


.tabs a {
    text-decoration: none;
    color: black;
}

nav {
    border-right: solid rgb(180, 73, 73);
    border-width:1px;
    position: fixed;
    top: 40px;
    left: 0;
    width: 60px;
    background-color: #eaeaea;
    height: 100%;
    padding: 10px;
    
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Content*/

.content {
    margin-left: 50px;
    margin-right: 5px;
    overflow-y: auto;
}

h1 {
    background: #c7c2c2;
    font-size: 1.75rem;
    text-align: center;
    padding: 18px 0;
    color: #ffffff;
    border-bottom: #000000;
    border-width: 10px;
    border-bottom: solid rgba(154, 223, 255, 0.123);
  }











@media (max-width: 750px) {

    .content {
        margin-left: 61px;
        overflow-y: auto;
    }

  h1 {
    font-size: 1.45rem;
    padding: 0px;
    
  }
  
}