* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Header
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3a9b3;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: solid rgba(102, 90, 90, 0.151);
    border-width: 3px;
   
}
.navbar img {
    display: inline;
    height: 10px;
    width: 100px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.profilelogo {
    background-color: #2cbee2;
    padding: 20px;
    border-radius: 50%;
}





/*
Vertical Tabs
*/
.tab {
    list-style: none;
    
    
}

.tabs {                 
    margin-top: 1.43rem;
    font-size: 90%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    display:-webkit-inline-box;
    
}

.tabs:hover {
    background-color: #83afd3;
    color: #fff;
    transform: scale(1.1);
    
}


.tabss {
    margin-top: 1.43rem;
    font-size: 90%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: #9badbd;
    display:-webkit-inline-box;
    position: left;
    
}


.tabss:hover {
    background-color: #7298b8;
    color: #fff;
    transform: scale(1.1);
    
}


.tabs a {
    text-decoration: none;
    color: black;
}

nav {
    border-right: solid rgb(180, 73, 73);
    border-width:1px;
    position: fixed;
    top: 40px;
    left: 0;
    width: 60px;
    background-color: #eaeaea;
    height: 100%;
    padding: 10px;
    
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Content*/

.content {
    margin-top: 4%;
    margin-left: 50px;
    padding: 0%;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    
}

header {
    background: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#news-container {
    padding: 20px;
}

.article {
    background: white;
    margin: 10px 0;
    padding: 18px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article img {
    width: 100%; /* Ensures the image is responsive */
    height: auto;
}


@media (max-width: 750px) {

    .content {
        margin-top: 18%;
    }

  .header {
    font-size: 1.45rem;
    padding: 0px 0px;
    margin-top: 50px;
  }

  h2 {
    font-size: 15px;
  }
  
  .article {
    width: fit-content;
    background: rgb(248, 244, 244);
    margin: 0px 0;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article img {
    width: 150%; /* Increase image size for mobile */
    max-width: none; /* Remove max-width restriction */
    }
}