@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


body {
    background: rgb(226, 242, 255);
}


h1 {
    color: #ffffff;
    padding: 18px 0x;
    font-size: 1.76rem;
    text-align: center;
    background: #4f5ca5;
}


.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}


.weather-input {
    width: 550px;

}


.weather-input input{   
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 6px;
    border: 3px solid #6b8591;
}


.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}


.weather-input .separator::before {
    content: "or";
    color: #7d93a5;
    font-size: 1.18rem;
    padding: 0 15px;
    background: rgb(226, 242, 255);
    margin-top: -4px;
}


.weather-input button {
    width: 100%;
    padding: 10px 0 ;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    background: #1c70b4;

}


.weather-input .location-btn {
    background: #264588;
}


.weather-data {
    width: 100%;
}

.current-weather {
    color: #fff;
    border-radius: 5px;
    display: flex;
    padding: 20px 70px 20px 20px;
    justify-content: space-between;
    background: #71a6c9;
}

.current-weather h2 {
    font-size: 1.7rem;
}

.weather-data h4 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}


.current-weather .icon {
    text-align: center;
}

.current-weather .icon img {
    max-width: 120px;
    margin-top: 25px;
}

.current-weather .icon h4 {
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.weather-cards {
    display: flex;
    gap: 20px;
}

.weather-cards .card {
    background: #2cbee2;
    color: #fff;
    list-style: none;
    padding: 18px 25px ;
    border-radius: 5px;
    width: calc(100% / 5);
    
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width: 1440px) {
 .weather-data .current-weather {
    padding: 20px;
 }
 .weather-cards {
    flex-wrap: wrap;
 }
 .weather-cards .card {
    width: calc(100% / 4 - 15px);
 }
}

@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
   }

@media (max-width: 950px) {
    .weather-input{
    width: 450px;
    }
    .weather-cards .cards {
        width: calc(100% / 2 - 10px);
    }
  }

@media (max-width: 750px) {
    .container{
    flex-wrap: wrap;
    padding: 15px;
    }
    .weather-input {
        width: 100%;
    }
  }
