@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*
Header
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3a9b3;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: solid rgb(153, 141, 141);
    border-width:2px;
   
}
.navbar img {
    display: inline;
    height: 10px;
    width: 100px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.profilelogo {
    background-color: #2cbee2;
    padding: 20px;
    border-radius: 50%;
}





/*
Vertical Tabs
*/
.tab {
    list-style: none;
    
    
}

.tabs {                 
    margin-top: 1.43rem;
    font-size: 90%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    display:-webkit-inline-box;
    
}

.tabs:hover {
    background-color: #83afd3;
    color: #fff;
    transform: scale(1.1);
    
}


.tabss {
    margin-top: 1.43rem;
    font-size: 90%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: #9badbd;
    display:-webkit-inline-box;
    position: left;
    
}


.tabss:hover {
    background-color: #7298b8;
    color: #fff;
    transform: scale(1.1);
    
}


.tabs a {
    text-decoration: none;
    color: black;
}

nav {
    border-right: solid rgb(207, 192, 192);
    border-width:1px;
    position: fixed;
    top: 40px;
    left: 0;
    width: 60px;
    background-color: #eaeaea;
    height: 100%;
    padding: 10px;
    
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}



/*
Content
*/

.content {
    margin-top: 2%;
    margin-left: 50px;
    padding: 10px;
    overflow-y: scroll;
    height: calc(100vh - 50px);
}


h1 {
  background: #5372F0;
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}
.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}
.weather-input {
  width: 550px;
}
.weather-input input {
  height: 46px;
  width: 100%;
  outline: none;
  font-size: 1.07rem;
  padding: 0 17px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.weather-input input:focus {
  padding: 0 16px;
  border: 2px solid #5372F0;
}
.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #BBBBBB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-input .separator::before{
  content: "or";
  color: #6C757D;
  font-size: 1.18rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #E3F2FD;
}
.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  background: #5372F0;
  transition: 0.2s ease;
}
.weather-input .search-btn:hover {
  background: #2c52ed;
}
.weather-input .location-btn {
  background: #6C757D;
}
.weather-input .location-btn:hover {
  background: #5c636a;
}
.weather-data {
  width: 100%;
}
.weather-data .current-weather {
  color: #fff;
  background: #5372F0;
  border-radius: 5px;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
}
.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.current-weather .icon {
  text-align: center;
  margin-right: 100px;
}
.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}
.current-weather .icon h6 {
  margin-top: -10px;
  text-transform: capitalize;
}
.days-forecast h2 {
  margin: 20px 0;
  font-size: 1.5rem;
}
.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}
.weather-cards .card {
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #6C757D;
  border-radius: 5px;
}
.weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}
@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
}
@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
}
@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-cards .card {
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
    margin-top: 50px;
  }
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-input {
    width: 100%;
  }
  .weather-data h2 {
    font-size: 1.35rem;
  }
  .weather-cards .card {
    width: calc(100% / 1 - 10px);
  }
}
  